.Body{
    background-image: url('../../../assets/home-img/Fondo1.jpeg');
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1rem;
    left: 0px;
}
.Body h1{
    position: absolute;
    width: 50rem;
    height: 15rem;
    left: 7rem;
    top: 5rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 100%;
    color: #FFFFFF;
    
}
.Body p{
    position: absolute;
    width: 50rem;
    height: 5rem;
    left: 7rem;
    top: 22rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.10rem;
    line-height: 100%;
    color: #000000;
}
.toolbtn span{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 100;
    text-align: center;
    color: #5D5A88;
}
.matchb{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 10rem;
    height: 4rem;
    left: 7rem;
    top: 38rem;
    border-radius: 40px;
}
.groupb{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 16rem;
    height: 4rem;
    left: 7rem;
    top: 44rem;
    border-radius: 40px;
}
.trainb{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 20rem;
    height: 4rem;
    left: 7rem;
    top: 50rem;
    border-radius: 40px;
}
.tool{
    position: absolute;
    background-color: #dbdbd5;
    width: 100%;
    height: 4rem;
    top: 0px;
    display: flex;
    gap: 10rem;
}
.bar{
    width: 100%;
    height: 4rem;
    background-color: #dbdbd5;
    display: flex;
    gap: 10rem;
}
.btx{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 20%;
    text-align: center;
    color: #5D5A88;    
}
.logos{
    width: 12.5rem;
    height: 4rem;
    left: 0rem;
    background-image: url('../../../assets/landing-page-img/logo.png');
    background-size: cover;
    background-color: #dbdbd5;
    align-content: center;
}
.calltocations{
    position: absolute;
    top: 38rem;
}
.toolbtn{
    border-radius: 40px;
    align-content: center;
}


.tool {
    display: flex;
    justify-content: flex-end;
  }
  
  .bar {
    width: 100%;
    background-color: #fff;
  }
  
  .toolbar {
    justify-content: flex-end;
    padding-right: 16px;
  }
  
  .Body {
    text-align: center;
    margin-top: 50px;
  
    h1 {
      font-size: 24px;
    }
  
    p {
      font-size: 16px;
      margin-top: 16px;
    }
  
    .calltoactions {
      margin-top: 24px;
  
      button {
        margin-right: 16px;
      }
    }
  }