<div class="container">
    <div class="section section-left">
        <div class="logo">
            <img src="../../../assets/register-login-img/Logo.png" alt="Logo">
          </div>
          <div class="cliente">Cliente</div>
          <div class="entrenador">¿Eres un entrenador? <span class="subrayado">Da click aquí</span></div>
    </div>
    <div class="section section-right">
        <div class="creacion">Inicia Sesión</div>
          <form>
            <label for="correo">Correo electrónico</label><br>
            <input type="email" id="correo" name="correo" placeholder="Ingrese su correo electrónico">
          </form>
          <br>
          <form>
            <label for="contrasena">Contraseña</label><br>
            <input type="password" id="contrasena" name="contrasena" placeholder="Ingrese su contraseña">
          </form>
          <br>
          <button class="button" routerLink="/Home">Inicia Sesión</button>
          <div class="inicio" routerLink="/Login/Fpassword"><u>¿Olvidaste tu contraseña?</u></div>
          <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="checked">Recuerdame</mat-checkbox>
          </section>        
        </div>
</div>