.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  overflow-x: hidden;
}

.section {
  padding: 50vh;
  width: auto;
}

.section-left {
  background-image: url('../../../assets/register-login-img/Fondo.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: calc(100vh - 0px); /* Ajusta el valor "-20px" según tus necesidades */
  padding: 10vh;
}

.section-left .logo {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-left .cliente {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
}

.section-left .entrenador {
  position: absolute;
  top: 90%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
}

.section-left .entrenador .subrayado {
  text-decoration: underline;
}

.section-right {
  background-color: white;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-right .creacion {
  margin-bottom: 50px;
  font-size: 40px;
  color: black;
}

.section-right form {
  margin-bottom: 40px;
  width: 100%; /* Ajusta el ancho del formulario al 100% */
}

.section-right label {
  font-size: 20px;
  color: #7C838A;
}

.section-right input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 2px solid #f0b3b3;
  border-radius: 15px;
  height: 45px;
  background-color: #f0b3b3;
  font-size: 16px;
  text-align: left;
}

.section-right .button {
  background-color: #FC837B;
  color: white;
  padding: 15px 100px;
  border: none;
  border-radius: 15px;
  font-size: 30px;
  cursor: pointer;
}

.section-right .inicio {
  margin-top: 20px;
  font-size: 18px;
  color: #7C838A;
  cursor: pointer;
}

/* Estilos para la versión responsiva */
@media screen and (max-width: 1200px) {
  .section-right {
    padding: 50px;
  }

  .section-right form {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .section-left {
    background-size: 100% !important;
  }

  .section-left .cliente {
    font-size: 24px !important;
  }

  .section-left .entrenador {
    font-size: 16px !important;
  }

  .section-right .creacion {
    font-size: 24px;
  }

  .section-right .button {
    padding: 10px 30px;
    font-size: 20px;
  }

  .section-right .inicio {
    font-size: 14px;
  }
}