<div class="container">
    <div class="section section-left">
        <div class="logo">
            <img src="../../../assets/register-login-img/Logo.png" alt="Logo">
          </div>
          <div class="cliente">Cliente</div>
          <div class="entrenador">¿Eres un entrenador? <span class="subrayado">Da click aquí</span></div>
    </div>
    <div class="section section-right">
        <div class="creacion">Create una cuenta gratis</div>
        <form>
            <label for="nombre">Nombre Completo</label><br>
            <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre completo">
          </form>
          <br>
          <form>
            <label for="correo">Correo</label><br>
            <input type="email" id="correo" name="correo" placeholder="Ingrese su correo electrónico">
          </form>
          <br>
          <form>
            <label for="contrasena">Contraseña</label><br>
            <input type="password" id="contrasena" name="contrasena" placeholder="Ingrese su contraseña">
          </form>
          <br>
          <form>
            <label for="ubicacion">Ubicación</label><br>
            <input type="text" id="ubicacion" name="ubicacion" placeholder="Ingrese su ubicación">
          </form>
          <button class="button" routerLink="/Login">Crea tu cuenta</button>
          <div class="inicio">¿Tienes ya una cuenta? <span class="negrita"  routerLink="/Login">INICIA SESION</span></div>
    </div>
  </div>