<div class="tool">
    <div class="bar">
      <mat-toolbar class="toolbar">
        <button mat-raised-button color="primary" class="toolbtn"><span>Home</span></button>
        <button mat-button class="toolbtn" routerLink="/api/client"><span>Match</span></button>
        <button mat-button class="toolbtn"><span>Mis rutinas</span></button>
        <button mat-button class="toolbtn"><span>Contratos</span></button>
        <button mat-button class="toolbtn"><span>Mi perfil</span></button>
        <button mat-button class="toolbtn" routerLink="/Login"><span>Cerrar sesión</span></button>
      </mat-toolbar>
    </div>
  </div>
  <div class="Body">
    <h1 style="font-size: 65px">Encuentrate y conectate con ese GymBr@ que nunca encontraste</h1>
    <p style="font-size: 20px">Accede ahora mismo a las diferentes opciones de nuestra web, 
      y mejora tu condición física en la mejor condición posible</p>
    <div class="calltoactions">
      <button mat-raised-button class="matchb"><span class="btx" routerLink="/api/client">Haz match ya</span></button>
      <button mat-raised-button class="groupb"><span class="btx">Encuentra a tu grupo ideal</span></button>
      <button mat-raised-button class="trainb"><span class="btx">Encuentra a tu entrenador ideal</span></button>
    </div>
  </div>