<div class="tool">
    <div class="logos"></div>
    <div class="bar">
        <mat-toolbar>
            <button mat-raised-button color="primary" class="toolbtn"><span>Home</span></button>
            <button mat-button class="toolbtn"><span>Match</span></button>
            <button mat-button class="toolbtn"><span>Mis rutinas</span></button>
            <button mat-button class="toolbtn"><span>Contratos</span></button>
            <button mat-button class="toolbtn"><span>Mi perfil</span></button>
            <button mat-button class="toolbtn"><span>Cerrar sesión</span></button>
        </mat-toolbar>
    </div>
</div>
<div class="Body">
    <h1>Encuentrate y conectate con ese GymBr@ que nunca encontraste</h1>
    <p>Accede ahora mismo a las diferentes opciones de nuestra web, 
        y mejora tu condición física en la mejor condición posible</p>
    <div class="calltoactions">
        <button mat-raised-button class="matchb"><span class="btx">Haz match ya -></span></button>
        <button mat-raised-button class="groupb"><span class="btx">Encuentra a tu grupo ideal -></span></button>
        <button mat-raised-button class="trainb"><span class="btx">Encuentra a tu entrenador ideal -></span></button>
    </div>
</div>