<div class="container">
    <div class="section section-left">
        <div class="logo">
            <img src="../../../assets/register-login-img/Logo.png" alt="Logo">
          </div>
          <div class="cliente">Cliente</div>
          <div class="entrenador">¿Eres un entrenador? <span class="subrayado">Da click aquí</span></div>
    </div>
    <div class="section section-right">
        <div class="creacion">Recuperar contraseña</div>
          <form>
            <label for="correo">Correo electrónico</label><br>
            <input type="email" id="correo" name="correo" placeholder="Ingrese su correo electrónico">
          </form>
          <br>
          <button class="button">Envíame un enlace de recuperación</button>
          <section class="example-section">
          </section>        
        </div>
</div>